# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
env/
*.so

# Entornos virtuales
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Proyecto específico
*.log
*.db
*.sqlite3

# esquece pip install -e . folders
*.egg-info/